.card {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
  /* border-radius: 20px; */
  width: 245px;
  height: 450px;
  float: left;
  margin: 5px;
  background: white;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
  border: 10px solid;
  opacity: 0;
  animation: rotate 4s ease;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
}

.card:nth-child(2) {
	animation-delay: 0.2s;
}

.card:nth-child(3) {
	animation-delay: 0.4s;
}

.card:nth-child(4) {
	animation-delay: 0.6s;
}

.card:nth-child(5) {
	animation-delay: 0.8s;
}

.card:nth-child(6) {
	animation-delay: 1s;
}

.card:nth-child(7) {
	animation-delay: 1.2s;
}

.card:nth-child(8) {
	animation-delay: 1.4s;
}

.card:nth-child(9) {
	animation-delay: 1.6s;
}

.card:nth-child(10) {
	animation-delay: 1.8s;
}

@keyframes rotate {
	50%,
	to {
		transform: rotateY(360deg);
    opacity:1;
	}
}

.cardImgContainer {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.card:focus {
  outline: none;
}

.cardImgContainer .cardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.cardImgLostContainer {
  width: 100%;
  height: 60%;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.25);
}

.cardImgLost {
  display: block;
  margin-top: 50%;
  margin-bottom: 50%;
  text-align: center;
  color: white;
  font-family: 'Lato';
  font-size: 20pt;
}

.cardImg:hover {
  transform: scale(1.2);
}

.cardName {
  display: block;
  width: fit-content;
  margin-left: 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Playfair Display';
}

.cardName:hover {
  text-decoration: underline;
}

.relatedcards:hover {
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
  cursor: pointer;
}

.outfitcards:hover {
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
}

.failed {
  opacity: 0.2;
}

.normal {
 /* border-color: rgba(128, 128, 128, 0.25); */
 border-image: linear-gradient(to bottom right,
  rgba(128, 128, 128, 0.75) 0%,
  rgba(128, 128, 128, 0.25) 25%,
  rgba(128, 128, 128, 0.75) 50%,
  rgba(128, 128, 128, 0.25) 75%,
  rgba(128, 128, 128, 0.75) 100%);
  border-image-slice: 1;
}

.rare {
 /* border-color: rgba(165, 42, 42, 0.25); */
 border-image: linear-gradient(to bottom right,
 rgba(165, 42, 42, 0.75) 0%,
 rgba(165, 42, 42, 0.25) 25%,
 rgba(165, 42, 42, 0.75) 50%,
 rgba(165, 42, 42, 0.25) 75%,
 rgba(165, 42, 42, 0.75) 100%);
 border-image-slice: 1;
}

.superRare {
 /* border-color: rgba(192, 192, 192, 0.25); */
 border-image: linear-gradient(to bottom right,
 rgba(192, 192, 192, 0.75) 0%,
 rgba(192, 192, 192, 0.25) 25%,
 rgba(192, 192, 192, 0.75) 50%,
 rgba(192, 192, 192, 0.25) 75%,
 rgba(192, 192, 192, 0.75) 100%);
 border-image-slice: 1;
}

.ultraRare {
 /* border-color: rgba(255, 217, 0, 0.25); */
 border-image: linear-gradient(to bottom right,
 rgba(255, 217, 0, 0.75) 0%,
 rgba(255, 217, 0, 0.25) 25%,
 rgba(255, 217, 0, 0.75) 50%,
 rgba(255, 217, 0, 0.25) 75%,
 rgba(255, 217, 0, 0.75) 100%);
 border-image-slice: 1;
}

.legendary {
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}
